body{
    background-color: #2980b9;
    font-family: sans-serif;
}
form{
    border: none;
    background-color: white;
    width: 400px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px white;
    border-radius: 10px;
    margin: 300px auto;
}
form input{
    border: none;
    border-radius: 6px;
    width: 250px;
    padding: 13px;
    background-color: whitesmoke;
    margin-top: 15px;
    font-size: 13px;
    font-family: sans-serif;
    text-align: center;
}
form button{
    border: none;
    border-radius: 8px;
    width: 150px;
    padding: 10px;
    background-color: #f1c40f;
    margin-top: 20px;
    color: black;
    font-size: 12px;
    transition: 0.3s;
}
.user{
    margin-top: 23px;
    position: absolute;
    margin-left: 10px;
}
.lock{
    position: absolute;
    margin-top: 23px;
    margin-left: 10px;
}
form button:hover{
    background-color:#e67e22 ;
}